.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    .btn-primary {
        background-color: Blue !important;
        border-color: Blue !important;
      }
      .btn-primary:hover,
      .btn-primary:active,
      .btn-primary:visited,
      .btn-primary:focus {
        background-color: DarkBlue !important;
        border-color: DarkBlue !important;
      }

    .judul {
        color: #FF6767;
        font-size: small;
    }
    .circle {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: white;
            border: 2px solid red;  /* Warna awal */
    }

